@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  position: relative;
  height: 36px;
  width: 320px;
  background-color: $header-background;
}

.header-margin {
  height: 100%;
  width: 5px;
  margin-left: 29px;
  border-left: 1px solid $header-margin;
  border-right: 1px solid $header-margin;
}

.title {
  position: absolute;
  top: 50%;
  left: 43px;
  transform: translate(0, -50%);
  font-size: 14px;
  color: $title-color;
}

.input-container {
  position: relative;
  height: 29px;
  width: 320px;
  border-bottom: 1px solid $app-border;
  border-left: 1px solid $app-border;
  border-right: 1px solid $app-border;
  input {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translate(0, -50%);
    width: 80%;
    border: none;
    outline: none;
  }
}

.input-container:before {
  content: "";
  position: absolute;
  height: 1px;
  top: 29px;
  right: 0;
  left: 0;
  background-color: $app-shadow;
}

.add-btn {
  display: inline-block;
  width: 28px;
  height: 100%;
  background: center no-repeat url('../../assets/add-btn.png')
}

.input-margin {
  display: inline-block;
  height: 100%;
  width: 5px;
  border-right: 1px solid $task-margin;
  border-left: 1px solid $task-margin;
}